@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  font: 11px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
